@font-face {
    font-family: 'P4ncake 7-Segment';
    src: url('../fonts/P4ncake7Segment.ttf');
}

div.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.bottom-bar {
    background-image: linear-gradient(#83848a ,#d2d3d8);
    width: 100vw;
    height: 25vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    box-shadow: #3ac7ff 0px 5px 0px 0px inset, #3ac7ff 0px 5px 4px 0px inset;
}

div.hour-notch {
    position: absolute;
    background-color: #0000;
    width: calc(100% - 40vh);
    height: 10vh;
    position: relative;
    left: 20vh;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 5px 0px #3ac7ff) drop-shadow(0px 3px 3px #3ac7ff55);
}

.hour {
    white-space: nowrap;
}

.notch-left, .notch-center, .notch-right {
    background: linear-gradient(#fff2, #fff9, #fffe), repeating-linear-gradient(#dedede, #dedede 3px, #eee 2px, #eee 5px);
}

.notch-left, .notch-right {
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    width: 25vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

.notch-left {
    mask-image: url("../images/wii/notch-left.svg");
}

.notch-right {
    mask-image: url("../images/wii/notch-right.svg");
}

.notch-center{
    height: 100%;
    width: calc(100vw - 90vh);
    color:#aaa;
    font-family: "P4ncake 7-Segment", sans-serif;
    font-size: 7rem;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.date {
    position: absolute;
    top: 16vh;
    width: 100%;
    color: #777;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
}

.button-container {
    position: absolute;
    top:3.5vh;
    width:18vh;
    height: 11vh;
    border-radius: 999px;
    background: linear-gradient(#fff4, #ddd1);
    background-size: 150% 150%;
    background-position: center center;
    border: #fff3 1.5vh solid;
    filter: drop-shadow(#777 6px 7px 3px);
    display: flex;
    align-items: center;
    padding: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.left-button-container {
    border-radius: 0 999px 999px 0;
    left:-10px;
    border-left:none;
    justify-content: right;
}

.right-button-container {
    border-radius: 999px 0 0 999px;
    right:-10px;
    border-right:none;
    justify-content: left;
}

.button-round {
    width:13vh;
    height:13vh;
    border-radius: 100%;
    font-size:7vh;
    border: #3ac7ff 2px solid;
    background: linear-gradient(#ddd,#aaa);
    color:#888;
    box-shadow: #7776 -1vh -1vh 0.9vh 0.3vh inset, #6668 -0.3vh -0.5vh 0.5vh inset, #7772 -0.6vh -1.3vh 0 1.3vh inset, #3ac7ff77 0 0 0.4vh 0.3vh;
    transition: transform 0.3s cubic-bezier( 0.27, 0, 0.16, 1.02 );
    cursor: pointer;
}

.button-round:hover {
    transform: scale(1.15);
}

.icon {
    width: 100%;
    height: 100%;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background: linear-gradient(#888, #878787);
    background-size: cover;
    background-position: center center;
}

.p4ncake-icon {
    mask-image: url("../images/icons/p4ncake.svg");
    transform: scale(0.7);
}

.mail-icon {
    mask-image: url("../images/icons/mail.svg");
    transform: scale(0.7);
}

.nav-arrow {
    position: absolute;
    top: calc(50dvh - 50px);
    z-index: 20;
    display: block;
    width: 100px;
    height: 100px;

    opacity: 1;
    border-radius:999px;
    background: radial-gradient(at 30% 30%, #fff3 40%, #0000 40%),
                linear-gradient(#ffadf866, #ffc7ad55, #bbeaff58);
    border: solid 2px #eff6;
    color:#fffd;
    text-shadow: #5573 2px 3px 4px;
    font-size: 70px;
    box-shadow: #ffcab677 -5px 5px 10px inset,
                #7bdaffaa -5px -10px 10px -5px inset ,
                #def 10px 10px 20px -10px inset,
                #2236 1px 2px 10px 1px inset,
                #4466 0 5px 20px;
    transition: left .2s ease-out, right .2s ease-out, opacity .3s ease-in-out, transform .3s ease-out;
    backdrop-filter: blur(5px);
}

.nav-arrow:hover {
    transform: scale(1.1);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.left-arrow.hidden-arrow {
    left: -150px;
    opacity: 0.2;
}

.right-arrow.hidden-arrow {
    right: -150px;
    opacity: 0.2;
}

.channels {
    overflow: hidden;
    position: fixed;
    background: repeating-linear-gradient(#0000, #eeed, #0000, #eeed, #0000, #eeed, #fff2) ,repeating-linear-gradient(#dedede, #dedede 3px, #eee 2px, #eee 5px);
    height: 75vh;
    width: 100%;
}

.channel-container {
    position: fixed;
    top:0;
    left:0;
    height: calc(100dvh - 25vh);
    width: 100%;
    transform: scale(0.9);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 0px;
    transition: 0.5s left cubic-bezier(0.38, -0.02, 0.31, 1.02);
}

.channel-container-left {
    left: -100vw
}

.channel-container-right {
    left: 100vw
}

.channel {
    --channel-image: url("../images/wii/channels/empty-channel.webp");
    --scan-lines: repeating-linear-gradient(#cacaca01, #cacaca01 6px, #ddd4 3px, #ddd4 9px);
    background: var(--scan-lines), var(--channel-image);
    mask-image: url("../images/wii/squircle.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier( 0.27, 0, 0.16, 1.02 );
}

.channel:hover {
    transform: scale(1.03);
}

.channel a {
    display: block;
    position:relative;
    width: 100%;
    height: 100%;
}




/* Responsiveness */

@media (max-width: 1200px) {
    .channel-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    div.hour-notch {
        left: 15vw;
        width: calc(100% - 30vw);
    }

    .notch-left, .notch-right {
        width: calc(30vw);
    }

    .notch-center {
        width: 70vw;
    }
}

@media (max-width: 850px) {
    .channel-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .left-button-container {
        transform: translateX(-3vh);
    }

    .right-button-container {
        transform: translateX(3vh);
    }

    div.notch-center {
        font-size: 6rem;
    }

    .hour {
        transform: translateY(-4px);
    }
}

@media (max-width: 700px) {
    .date {
        font-size: 7vw;
    }
}

@media (max-width: 600px) {
    .left-button-container {
        transform: translate(-4vh, 4vh);
    }

    .right-button-container {
        transform: translate(4vh, 4vh);
    }

    div.hour-notch {
        left: 0;
        width: calc(100%);
    }

    .notch-left, .notch-right {
        width: calc(35vw);
    }

    .notch-center {
        width: 30vw;
    }

    .hour {
        font-size: 16vw;
    }



    .button-container {
        position: absolute;
        top:3.5vh;
        width:18vh;
        height: 9vh;
        border-radius: 999px;
        background: linear-gradient(#fff4, #ddd1);
        background-size: 150% 150%;
        background-position: center center;
        border: #fff3 1.5vh solid;
        filter: drop-shadow(#777 6px 7px 3px);
        display: flex;
        align-items: center;
        padding: 2vh;
        padding-right: 1vh;
        padding-left: 1vh;
    }
    
    .left-button-container {
        border-radius: 0 999px 999px 0;
        left:-25px;
        border-left:none;
        justify-content: right;
    }
    
    .right-button-container {
        border-radius: 999px 0 0 999px;
        right:-25px;
        border-right:none;
        justify-content: left;
    }
    
    .button-round {
        width: 11vh;
        height: 11vh;
        border-radius: 100%;
        font-size:7vh;
        border: #3ac7ff 2px solid;
        background: linear-gradient(#ddd,#aaa);
        color:#888;
        box-shadow: #7776 -1vh -1vh 0.9vh 0.3vh inset, #6668 -0.3vh -0.5vh 0.5vh inset, #7772 -0.6vh -1.3vh 0 1.3vh inset, #3ac7ff77 0 0 0.4vh 0.3vh;
        transition: transform 0.3s cubic-bezier( 0.27, 0, 0.16, 1.02 );
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .channel-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        transform: scale(0.95);
    }
}