@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,700&display=swap');

@keyframes bio-background {
    0%{background-position:0% 0%}
    20%{background-position:25% 50%}
    40%{background-position:50% 0%}
    60%{background-position:0% 20%}
    80%{background-position:50% 32%}
    100%{background-position:0% 0%}
}

@keyframes allure-background {
    from {background-position:0% 0%}
    to   {background-position:1200% 300%}
}

@keyframes ncrs-background {
    from {background-position:0% 0%}
    to   {background-position:5000% 10000%}
}

@keyframes portfolio-background {
    from {background-position:2500% 1000%}
    to   {background-position:0% 0%}
}

@keyframes portfolio-background-overlay {
    from {background-position:0% 0%}
    to   {background-position:5000% 3000%}
}

@keyframes portfolio-apple {
    from { transform: rotate(-15deg) translate(0px, -10px); }
    to { transform: rotate(-10deg) translate(5px, 10px); }
}

@keyframes portfolio-slimeball {
    from { transform: rotate(15deg) translate(0px, 10px); }
    to { transform: rotate(10deg) translate(-5px, -10px); }
}

@keyframes scroll-scan-lines {
    from {background-position:0px 15px}
    to   {background-position:0px 0px}
}

@keyframes wave1 {
    0%{background-position:0% 0%}
    25%{background-position:1000px 0%}
    50%{background-position:250px 0%}
    75%{background-position:1250px 0%}
    100%{background-position:0% 0%}
}

@keyframes wave2 {
    0%{background-position:-500px 0%}
    25%{background-position:600px 0%}
    50%{background-position:-300px 0%}
    75%{background-position:700px 0%}
    100%{background-position:-500px 0%}
}

@keyframes float {
    from { transform: translateY(20px); }
    to { transform: translateY(-20px); }
}

section.biography {
    background-image: linear-gradient(#3453, #223b), url("../images/allure-birch.png"), radial-gradient(at 94.7% 22.2%, #46503d 0px, transparent 50%), radial-gradient(at 49.7% 49.3%, #b8775c 0px, transparent 50%), radial-gradient(at 48.6% 1.5%, #cfe6ed 0px, transparent 50%), radial-gradient(at 18.7% 71.9%, #7fc761 0px, transparent 50%), radial-gradient(at 68.6% 94.3%, #BBBFBA 0px, transparent 50%), linear-gradient(#8CB07D);
    background-size: auto 120%;
    height: 100vh;
    animation: bio-background 30s ease-in-out infinite;
}

section.biography::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/particles.webp");
    background-size: cover;
    background-repeat: repeat;
    filter: blur(1px);
    opacity: 0.15;
    pointer-events: none;
    z-index: 1;
}

div.biography {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - ((var(--scroll-pos) / var(--window-height))*200px)));
    width: 55%;
    opacity: calc(1 - (var(--scroll-pos) / var(--window-height)));
    filter: blur(calc((var(--scroll-pos) / var(--window-height)) * 3px));
}

section.allure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #13131caa,#1c1c26aa), url("../images/allure-blocks.png"), linear-gradient(#232323,#292929);
    image-rendering:pixelated;
    background-origin: 50% 50%;
    background-size: 10000px;
    animation: allure-background 3600s linear infinite;
    height: 100vh;
}

div.allure {
    width: 55%;
}

img.allure-logo {
    transition: transform 0.3s ease-in-out;
}

img.allure-logo:hover {
    transform: scale(1.05);
}

section.needcoolershoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #13132f88,#1c1c2f88), url("../images/blue-yellow-tiles-ncrs.png"), linear-gradient(0deg, #cadbd4, #d2e1c1, #abc5b0, #538391, #313a4c);
    background-size: cover;
    height: 100vh;
}

div.headanimation {
    background-image: url("../images/meow-meow-pattern.webp");
    background-size: 300px;
    height: 100vh;
    width: 100%;
    opacity: 0.07;
    animation: ncrs-background 3600s linear infinite;
}

div.needcoolershoes {
    position:absolute;
    width: 55%;
}

.needcoolershoes-logo {
    transition: transform 0.3s ease-in-out;
    font-family: 'Lato', sans-serif;
}

.needcoolershoes-logo a {
    text-decoration: underline;
    text-decoration-color: #fff0;
    color: #fff;
    transition: text-decoration-color 0.1s ease-in-out;
}

.needcoolershoes-logo a:hover {
    text-decoration-color: #fffc;
}

img.needcoolershoes-logo {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    translate: 0px 25px;
}

img.needcoolershoes-logo:hover {
    transform: scale(1.1);
}

section.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(332deg, #ff648b49, #ec486318, #ffcf331c, #ffd75544), url(../images/grid.png) repeat;
    animation: portfolio-background 3600s linear infinite;
    image-rendering:pixelated;
    background-origin: 50% 50%;
    height: 100vh;
}

div.portfolio {
    width: 55%;
    z-index: 1;
}

div.portfolio-bg-overlay {
    position: absolute;
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    background-image: url("../images/perlin.png");
    background-size: 400%;
    opacity: 0.07;
    animation: portfolio-background-overlay 3600s linear infinite;
    mix-blend-mode: lighten;
}

.portfolio-image {
    --scale: 384px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: var(--scale);
    height: var(--scale);
    filter: drop-shadow(6px 6px 10px #0007);
}

.portfolio-image div {
    width: calc(var(--scale)/2);
    height: calc(var(--scale)/2);
    background-size: calc(200% + 1.3px);
}

.portfolio-image .quarter-1 {
    filter: url("#1");
    background-position: bottom right;
}
.portfolio-image .quarter-2 {
    filter: url("#2");
    background-position: top left;
}
.portfolio-image .quarter-3 {
    filter: url("#3");
    background-position: bottom left;

}
.portfolio-image .quarter-4 {
    filter: url("#4");
    background-position: top right;
}

.portfolio-bg-items {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
    filter: brightness(0.8);
}

.portfolio-apple {
    top:calc(50% - var(--scale) / 2);
    left: calc((0px - var(--scale) * 0.25));
    animation: portfolio-apple 5s ease-in-out infinite alternate;
}

.portfolio-apple div {
    background-image: url("../portfolio/pictures/item/apple.png");
}

.portfolio-slimeball {
    top:calc(50% - var(--scale) / 2);
    right: calc(0px - (var(--scale) * 0.25));
    animation: portfolio-slimeball 6s ease-in-out infinite alternate;
}

.portfolio-slimeball div {
    background-image: url("../portfolio/pictures/item/slime_ball.png");
}

.portfolio-title {
    color: #fff5;
    background: linear-gradient(90deg,#fcda68,#f34ea0);
    background-size: 100% 200%;
    background-clip: text;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-thickness: 2px;
    transition: text-underline-offset 0.5s, text-decoration-thickness 0.2s, color 0.7s;
}

.portfolio-title:hover {
    color:#fff7;
    text-underline-offset: 1rem;
    text-decoration-thickness: 4px;
}

section.all-projects {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#eee 0%, #ddd 25%, #2EA4CF 25%, #2195BF 60%, #0877A1 90%);
    background-size: cover;
    height: 100vh;
    box-shadow: none;
}

section.all-projects::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("../images/wii/channel-focus-overlay.svg");
    opacity: 0.5;
    background-size: 100% 100%;
    z-index: 9;
}

section.all-projects::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(#cacaca01, #cacaca01 12px, #ddd1 3px, #ddd1 15px);
    animation: scroll-scan-lines 2s linear infinite;
    z-index: 7;
}

.all-projects-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.all-projects {
    z-index:11;
    display: block;
    width: 55%;
}

.all-projects-title {
    font-family: "Titillium Web", Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: -0.5rem;
    font-size: 12rem;

    color: #eeed;
    background-clip: text;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.all-projects-title {
    transition: color 0.3s ease-in-out;
    animation: float 1s infinite cubic-bezier(0.37,0,0.63,1) alternate;
}

div.all-projects-title:hover {
    color: #fff;
}

div.all-projects-title::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 0%;
    height: 8px;
    bottom:-80px;
    background: #fffa;
    opacity: 0.6;
    transition: width 0.2s ease-out, height 0.3s ease-in-out, opacity 0.2s ease;
}

div.all-projects-title:hover::after {
    width: 100%;
    height: 10px;
    opacity: 1;
}

section.all-projects .button-container {
    z-index: 10;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: last baseline;
}

.bubble-button {
    z-index: 10;
    cursor:pointer;
    display: flex;
    display: block;
    width: auto;
    min-width: 50vw;
    height: calc(70px + 3vw);
    max-height: 12.5vh;

    margin-bottom: 5svh;

    padding-left: 50px;
    padding-right: 50px;
    border-radius:999px;
    opacity: 0.8;
    background: radial-gradient(at 45% 20%, #fff3 40%, #0000 45%),
                linear-gradient(to right, #ffadf866, #ffc7ad55, #bbeaff58);
    border: solid 2px #eff6;
    color:#fffc;
    font-family: "Poppins", Arial, sans-serif;
    font-size: calc(1.2rem + 1vw);
    box-shadow: #ffcab677 -5px 5px 10px inset,
                #7bdaffaa -5px -10px 10px -5px inset ,
                #def 10px 10px 20px -10px inset,
                #2236 1px 2px 10px 1px inset,
                #4466 0 5px 20px;
    transition: transform 0.5s ease-out, opacity 0.4s ease-in-out;
}

.bubble-button:hover {
    transform: scale(1.03);
    opacity: 1;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url("../images/wii/bubbles.webp");
}

.wave1 {
    position: absolute;
    margin-bottom: 75vh;
    height: 25vh;
    width: 100%;
    background-image: url("../images/wii/wave1.svg");
    background-size: auto 100%;
    animation: wave1 10s ease-in-out infinite;
    z-index: 3;
}

.wave2 {
    position: absolute;
    margin-bottom: 75vh;
    height: 25vh;
    width: 100%;
    background-image: url("../images/wii/wave2.svg");
    background-size: auto 100%;
    animation: wave2 11s ease-in-out infinite;
    z-index: 2;
}

.wave3 {
    position: absolute;
    margin-bottom: 75vh;
    height: 25vh;
    width: 100%;
    background-image: url("../images/wii/wave3.svg");
    background-size: auto 100%;
    animation: wave1 13s ease-in-out infinite;
    z-index: 1;
}

.wave4 {
    position: absolute;
    margin-bottom: 75vh;
    height: 25vh;
    width: 100%;
    background-image: url("../images/wii/wave4.svg");
    background-size: auto 100%;
    animation: wave2 8s ease-in-out infinite;
    z-index: 4;
}

.top-overshoot {
    background-image: linear-gradient(to right, #495649, #bedeff, #495649);
}

.bottom-overshoot {
    background-image: linear-gradient(to right, #38254c, #2b2733, #392341);
}

/* Responsiveness */

/* Navbar */
@media (max-width: 1300px) {

    .navbar .font-settings span {
        display: none;
    }

    .navbar .accessibility-icon {
        display: block;
    }
}

@media (max-width: 1200px) and (min-width: 1001px) {
    .logo span {
        display: none;
    }
}


/* Website */

@media (max-width: 1200px) {

    @keyframes bio-background {
        0%{background-position:20% 0%}
        20%{background-position:30% 20%}
        40%{background-position:40% 0%}
        60%{background-position:2% 10%}
        80%{background-position:40% 15%}
        100%{background-position:20% 0%}
    }

    div.biography, div.allure, div.needcoolershoes {
        width: 70%;
    }
}

@media (max-width: 1000px) {

    div.biography, div.allure, div.needcoolershoes, div.portfolio {
        text-align: center;
    }

    section.biography {
        animation: bio-background 50s ease-in-out infinite;
    }

    img.needcoolershoes-logo {
        width: 150px;
        height: 150px;
        padding-left:100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    section.allure {
        background-size: 9000px;
    }

    .all-projects-title {
        font-size: 18vw;
        letter-spacing: -0.75vw;
    }

    div.all-projects-title::after {
        height: 6px;
        bottom: -6vw;
    }

    div.all-projects-title:hover::after {
        height: 8px;
    }

    div.portfolio {
        width: 60%;
    }
}

@media (max-width: 850px) {
    div.portfolio {
        width: 80%;
    }  
}

@media (max-width: 560px) {
    @keyframes bio-background {
        0%{background-position:40% 0%}
        50%{background-position:60% 0%}
        100%{background-position:40% 0%}
    }

    div.biography, div.allure, div.needcoolershoes {
        width: 90%;
        font-size: 1.3rem;
        line-height: 1.5em;
    }

    section.biography {
        animation: bio-background 40s ease-in-out infinite;
    }

    div.portfolio {
        width: 90%;
        font-size: 5vw;
        line-height: 6.5vw;
    }

    .portfolio-apple {
        top:calc(45% - var(--scale) / 2 - (150px - 20vw));
        left: calc((-20px - var(--scale) * 0.25));
    }

    .portfolio-slimeball {
        top:calc(55% - var(--scale) / 2 + (150px - 20vw));
        right: calc(-20px - (var(--scale) * 0.25));
    }
}

@media (max-width: 470px) {
    div.biography, div.allure, div.needcoolershoes {
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.4em;
    }

    .allure img {
        width: calc(90vw);
    }
}

@media (max-width: 370px) {
    div.biography, div.allure, div.needcoolershoes {
        width: 99%;
        font-size: 1.1rem;
        line-height: 1.3em;
    }

    img.needcoolershoes-logo {
        width: 50vw;
        height: 50vw;
        padding-left:0px;
        padding-right: 0px;
        padding-bottom: 25px;
    }

    .needcoolershoes-logo {
        font-size: 1.4rem;
    }
}

@media (min-height: 1400px) {
    section.allure {
        background-size: 15000px;
    }
}