html, body {
    background: linear-gradient(332deg, #ff648b49, #ec486318, #ffcf331c, #ffd75544) fixed, url(../images/grid.png) repeat;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
}

div.display {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.overlay {
    position:fixed;
    top: 0;
    left: 0;
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    background-color: #0000;
    z-index: 50;
    cursor: move;
}

.image {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: var(--scale);
    height: var(--scale);
    filter: drop-shadow(6px 6px 10px #0007);
}

.image div {
    width: calc(var(--scale)/2);
    height: calc(var(--scale)/2);
    background-size: calc(200% + 1.3px);
}

.image .quarter-1 {
    filter: url("#1");
    background-position: bottom right;
}
.image .quarter-2 {
    filter: url("#2");
    background-position: top left;
}
.image .quarter-3 {
    filter: url("#3");
    background-position: bottom left;

}
.image .quarter-4 {
    filter: url("#4");
    background-position: top right;
}

div.leave {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    margin:0;
    padding:2rem;
    width: 1rem;
    height: 1rem;
    background-image: url("../images/icons/leave.png");
    opacity: 0.5;
    filter: drop-shadow(1px 1px 10px #000);
    background-size: cover;
    image-rendering: pixelated;
    z-index: 50;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

div.leave:hover {
    opacity: 0.6;
    transform: scale(1.1);
}